/* div {
    border: 1px solid;
} */

.spacer{
    /* height: 100px; */
    margin-top: 50px ;
}

#spn01{
    position: relative;
    margin-left: 630px;
}

.validText{
    
    color: green;

}

.invalidText{
    
    color: red;

}


.validBorder{  

    border: 1px solid !important;    
    border-color: green !important;

}

.invalidBorder{  

    border: 1px solid !important;
    border-color: red !important;
}

#campo_apellido{
    margin-left: 490px;
    position: absolute;
}

#selects{
    width: 200px !important;
}

#grandCol{

    src: 'https://wallpaperaccess.com/full/952192.jpg' ;
}