.menuBar {

    text-align: center;
    border: solid 1px;
    background-color: rgb(26, 49, 69);
    
}

.h2 {
    color: rgba(255, 255, 255, 0.66);
}

.links {
    /* padding-right: 50px; */
    color: white;
    padding: 10px;

}

.autlet {
    color: white;
}

.wallpaper{
    height: 300px;
    width: 400px;
}